body{
    font-family: 'sao_chingchabold';
    margin: 0;
    padding: 0;
}

.w-full {
    width: 100%;
}
.h-12 {
    height: 3rem;
}
.z-50 {
    z-index: 50;
}

.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: #fff;
    border-bottom: 2px solid #C01528;
}
.justify-start {
    justify-content: space-around;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex;
}
.top-0 {
    top: 0;
}
.fixed {
    position: fixed;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.h-6 {
    height: 1.5rem;
}

img {
    border-style: none;
}

.h-full {
    height: 100%;
}

.ml-auto {
    margin-left: auto;
}

.text-ui-background, .text-white {
    --tw-text-opacity: 1;
    color: #fff;
}
.justify-start {
    justify-content: space-around;
}

.duration-200 {
    transition-duration: .2s;
}
.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}
.decoration-gray-30 {
    text-decoration-color: #c6c6c6;
}
.no-underline {
    text-decoration-line: none;
}
.text-gray-30 {
    --tw-text-opacity: 1;
    color: #C01528;
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

a {
    text-decoration: none;
}

header ul{
    list-style-type: none;
    padding-inline-start: 40px;
}

header ul li a p{border-bottom: 1px solid transparent;}
header ul li a p:hover{border-bottom: 1px solid #C01528;}


.flex-1 {
    flex: 1 1 0%;
}

@media (min-width: 672px) {
    .md\:px-\[64px\] {
        padding-left: 64px;
        padding-right: 64px;
    }
}

@media (min-width: 672px) {
    .md\:py-\[48px\] {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}
@media (min-width: 672px) {
    .md\:flex-row {
        flex-direction: row;
    }
}


.justify-between {
    justify-content: space-between;
}
.flex-col {
    flex-direction: column;
}
.w-full {
    width: 100%;
}

.max-w-\[900px\] {
    max-width: 900px;
}

@media (min-width: 672px) {
    .md\:flex-row {
        flex-direction: row;
    }
}

@media (min-width: 66rem) {
    .fluid-heading-05 {
        font-size: 2.625rem;
        line-height: 1.19;
        letter-spacing: 0;
        font-size: calc(2.625rem + .375*(100vw - 66rem) / 16);
    }
}
@media (min-width: 42rem) {
    .fluid-heading-05 {
        font-size: 2.25rem;
        font-weight: 300;
        line-height: 1.22;
        letter-spacing: 0;
        font-size: calc(2.25rem + .375*(100vw - 42rem) / 24);
    }
}
.fluid-heading-05 {
    font-size: 2rem;
    line-height: 1.25;
    letter-spacing: 0;
    font-size: calc(2rem + .25*(100vw - 20rem) / 22);
    font-weight: 700 !important;
}

@media (min-width: 672px) {
    .md\:space-x-\[32px\]>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(32px* var(--tw-space-x-reverse));
        margin-left: calc(32px* calc(1 - var(--tw-space-x-reverse)));
    }
}
@media (min-width: 672px) {
    .md\:max-w-\[224px\] {
        max-width: 224px;
    }
}
@media (min-width: 672px) {
    .md\:mt-\[0px\] {
        margin-top: 0;
    }
}
.gap-\[8px\] {
    gap: 8px;
}
.max-w-full {
    max-width: 100%;
}

.text-left {
    text-align: left;
}
.p-\[12px\] {
    padding: 12px;
}
.border-gray-20 {
    --tw-border-opacity: 1;
    border-color: rgb(224,224,224);
}
.border-solid {
    border-style: solid;
}
.border {
    border-width: 1px;
}

img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align: middle;
}

.ml-\[4px\] {
    margin-left: 4px;
}
.heading-01 {
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: .16px;
}

.mt-\[12px\] {
    margin-top: 12px;
}

a {
    background-color: transparent;
}

.helper-text-01 {
    font-size: .75rem;
    line-height: 1.33333;
    letter-spacing: .32px;
}

.text-gray-60 {
    --tw-text-opacity: 1;
    color: rgb(111,111,111);
}
.helper-text-01 {
    font-size: .75rem;
    line-height: 1.33333;
    letter-spacing: .32px;
}

@media (min-width: 672px) {
    .md\:mt-\[32px\] {
        margin-top: 32px;
    }
}

.heading-01 {
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: .16px;
}
